*.pyc
settings_local.py
*.sublime-workspace
.sublime-project
.sass-cache/
.map
*.cnf
.idea/*

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Node stuff
node_modules/